db/*.sqlite3
.bundle*
/vendor/bundle
/.rvmrc
/.ruby*
/venv
/.venv
/.ipynb*
log/*
tmp/*
old/*
__pycache__/
data/
*.swp
*.pid
*.log
*.iso
ISO
*.ova
*.ovf
*.vmdk
*.mf
*.tfplan
*.tfstate
*.tfvars
*.tfvars.json
*.bak
*.backup
*.info
*.exe
*.pem
.DS_Store
!.keep
